<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Food Recipes</h2>
    <h3>Radula's Recipes</h3>
    <a href="/recipe" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>