<%- include('partials/header'); -%>

<style>
  a {
    text-decoration: underline;
    color: rgb(56, 122, 143);
  }
</style>

<ul class="recipes" id="recipeList">
  <li class="recipe" data-search-term="chicken">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Chicken Recipes</h4>
    <p>Cook your delicious chicken</p>
    <a href="/recipe_api/html/chicken.html">View Chicken Recipes</a>
  </li>
  <li class="recipe" data-search-term="tropical_twist">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Pasta Recipes</h4>
    <p>Cook your delicious pasta</p>
    <a href="/recipe_api/html/pasta.html">View Pasta Recipes</a>
  </li>
  <li class="recipe" data-search-term="tropical_twist">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Pizza Recipes</h4>
    <p>Cook your delicious pizza</p>
    <a href="/recipe_api/html/pizza.html">View Pizza Recipes</a>
  </li>
  <li class="recipe" data-search-term="tropical_twist">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Sushi Recipes</h4>
    <p>Cook your delicious sushi</p>
    <a href="/recipe_api/html/sushi.html">View Sushi Recipes</a>
  </li>
  <li class="recipe" data-search-term="tropical_twist">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tacos Recipes</h4>
    <p>Cook your delicious tacos</p>
    <a href="/recipe_api/html/tacos.html">View Tacos Recipes</a>
  </li>
  <li class="recipe" data-search-term="tropical_twist">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Pork Recipes</h4>
    <p>Cook your delicious pork</p>
    <a href="/recipe_api/html/pork.html">View Pork Recipes</a>
  </li>
</ul>

<%- include('partials/footer'); -%>
